<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kichening01</title>
    <link rel="stylesheet" href="/css.styles.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body class="home">
    <header class="home__header">
        <img class="home__header__img--logo" src="/img/logo.jpg" alt="logoKitchening">
        <a href="home__header__a--bars"><i class="fas fa-bars"></i></a>
        <nav class="home__header__nav__menu">
            <ul>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>    
                <li><a href="/porfolios">porfolios</a></li>
                <li><a href="sucursales">sucursales<a></a></li>
                <li><a href="contactos">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <img src="/img/img-banner.jpg" alt="banner">
        </div>
        <article class="home__main__section--product">
            <div class="home__main__section--product-title">
                <img src="/img/img-pdto-1.jpg" alt="imagen-producto">
                <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <H4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</H4>
            <P class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing </P>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section--product">
            <div class="home__main__section--product-imagen">
                <img src="/img/img-pdto-2.jpg" alt="imagen-producto-2">
                <img src="/img/img-gratis.png" alt="sticker-gratis">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <H4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</H4>
            <P class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing</P>
            <a class="home__main__section--product--button" href="">ver más</a>
        </article>
        <article class="home__main__section--product">
            <div class="home__main__section--product-imagen">
                <img src="/img/img-pdto-3.jpg" alt="imagen-producto-3">
                <img src="/img/img-descuento.png" alt="sticker-descuento">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <h4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</h4>
            <p class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing</p>
            <a class="home__main__section--product--button" href="">ver más</a>
        </article>
        <article class="home__main__section--product">
            <div class="home__main__section--product-imagen">
                <img src="/img/img-pdto-1.jpg" alt="imagen-producto">
                <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <H4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</H4>
            <P class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing </P>
            <a class="home__main__section--product--button" href="">ver más</a>
        </article>
        <article class="home__main__section--product">
            <div class="home__main__section--product-imagen">
                <img src="/img/img-pdto-2.jpg" alt="imagen-producto-2">
                <img src="/img/img-gratis.png" alt="sticker-gratis">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <H4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</H4>
            <P class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing</P>
            <a class="home__main__section--product--button" href="">ver más</a>
        </article>
        <article class="home__main__section--product">
            <div class="home__main__section--product-imagen">
                <img src="/img/img-pdto-3.jpg" alt="imagen-producto-3">
                <img src="/img/img-descuento.png" alt="stickerscuento">
                <a href="">AMPLIAR FOTO</a>
            </div>
            <h4 class="home__main__section--product-title">Lorem ipsum dolor sit amet</h4>
            <p class="home__main__section--product--description">Lorem, ipsum dolor sit amet consectetur adipisicing</p>
            <a class="home__main__section--product--button" href="">ver más</a>
        </article>
    </main>
    <footer class="home__footer">
        <nav class="home__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolios">porfolios</a></li>
                <li><a href="sucursales">sucursales</a></li>
                <li><a href="contactos">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>